/* start */
*{
    font-family: 'Questrial';
}
body{
    background-color: rgb(218, 218, 218);
    padding: 0;
    margin: 0;
}
footer{
    display: none;
}
.hotelRooms{
    display:block;
}
.homePage{
    display: none;
}
.bookingPage{
    margin-top: -8px;
    position: relative;
    display: none;
}
.imgSection{
    max-width: 1980px;
    height: 700px;
    margin-top: -10px;
}

.roomContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
  }
  .room {
      max-width: 461px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
  }
  .room img {
      width: 100%;
      max-height: 350px;
  }
  .titleSection {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Questrial", sans-serif;
    color: whitesmoke;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    min-width: none;
}

.titleSection h5 {
    min-width: 300px;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .titleSection {
    padding: 30px 100px;
  }

  .titleSection h3 {
    min-width: unset;
    max-width: 500px;
  }
}
.taglineSection{
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.lineContainer{
    margin-top: 3%;
  }
  .lines{
    width: 100%;
    height: 45px;
    position: relative;
  
  }
  .lines::after, .lines::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    border:2px solid black;
    width: 45%;
    top: 20%;
  }
  .lines:after{
    left:0;
  }
  .lines:before{
    right: 0;
  }
  
  .circles{
    height: 40px;
    width: 40px;
    border:2px solid black;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
.bookButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
  
}
.service p{
    margin:10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    max-width: 200px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}
#pBookText{
   text-align: center;
   word-wrap: break-word;
   max-width: 700px;
}
.row img{
    width: 100%;
    height: 258px; 
}
  /*end*/
  
  /*Booking Page*/
.imgBooking{
    width: 100%;
    height: 500px;;
}
#bookingTitle{
    position: absolute;
    left: 11%;
    top: 10%;
    color: white;
    font-size: 30px;
    float: left;
    transform:translate(-50%,-50%);
    border: 2px solid black;
    padding: 20px;
    background: black;
    border-radius: 6px;
}
.dateContainer{
    width: 1200px;
    height: 200px;
    position: relative;
    margin: auto;
}   
.formContainer{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}
#btnChkAvail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    margin: auto;
}
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="date"]{
    background-color: #181818;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    width: 300px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
#dropdown{
    font-size: 18px;
    width: 130px;
    height: 30px;
    margin-left: 2%;
    color: white;
    background-color: #181818;
}
.formContainer{
    max-height: 900px;
    max-width: 100%;
}
/**/

li{
    font-family: "Questrial", sans-serif;
}

#containerHeader{
    background-color: black;
}

#headerReservation{
    font-family: "Questrial", sans-serif;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 10px;
    padding-left: 300px;
}

header{
    background-color: black;
    padding: 15px;
    text-align: center;
    
}

header li{
    display: inline;
    padding-left: 40px;
}

header li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    transition: .4s ease;
}

header li a:hover{
    color: lightblue;

}

header ul #btnLogIn a{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 0, 0);
    padding: 10px;
    float: right;
    position: relative;
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    top: -10px;
    right: 25px;
}

header ul #scytexLogo a{
    float: left;
}

/* HOTEL ROOMS PAGE CSS */
#containerPage1{
    position: relative;
    width: 100%;
    height: 650px;
}

#firstPhoto{
    width: 100%;
    height: 600px;
    margin-top: -22px;
}

#textMessageMainPage{
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 30px;
    padding: 20px;
    border: 3px solid black;
    color: white;
    font-family: "Questrial", sans-serif;
    font-size: 32px;
}

#textSedaNuvali{
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin-top: 10px;
}

#textDescriptionSeda{
    text-align: center;
    font-family: sans-serif;
    width: 1000px;
    margin: auto;
    margin-bottom: 60px;
}

#secondPhoto{
    width: 100%;
}

/* jr.suite css */
#firstPromoContainer{
    position: relative;
    width: 100%;
    height: 650px;
}

#thirdPhoto{
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
}

#containerPromotionJuniorSuite{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
    height: 120px;
}

#bookNowText{
    position: absolute;
    color: rgb(255, 115, 64);
    font-family: "Questrial", sans-serif;
}

#textJuniorSuite{
    font-family: sans-serif;
    text-align: center;
    margin-top: 40px;
}

.btnBookNowJrSuite{
    position: absolute;
    left: 43.5%;
    bottom: 15%;
    font-size: 20px;
    padding: 20px;
    border-color: white;
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

/* Deluxe Twin css */
#secondPromoContainer{
    position: relative;
    width: 100%;
    height: 650px;
}

#deluxeTwinText{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Questrial", sans-serif;
}

#fourthPhoto{
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
}

#containerPromotionDeluxeTwin{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
    height: 120px;
}

.btnBookNowDeluxeTwin{
    position: absolute;
    bottom: 10%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

/* bussinessDeluxeSingle CSS */
#thirdPromoContainer{
    position: relative;
    width: 100%;
    height: 650px;
}

#businessDeluxeText{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Questrial", sans-serif;
}

#containerPromotionBusinessDeluxe{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
    height: 120px;
}

.btnBookNowBusinessDeluxe{
    position: absolute;
    bottom: 10%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

/* 4. DELUXE QUEEN */
#fourthPromoContainer{
    position: relative;
    width: 100%;
    height: 650px;
}

#deluxeQueenText{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Questrial", sans-serif;
}

#containerPromotionDeluxeQueen{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 10%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
    height: 120px;
}

.btnBookNowDeluxeQueen{
    position: absolute;
    bottom: 10%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

/* room amenities and inclusion css */
#amenitiesInclusionHeader{
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: -30px;
}
#headerAmenities{
    font-family: "Questrial", sans-serif;
    position: absolute;
    left: 0px;
    top: 40%;
}

#headerInclusion{
    font-family: "Questrial", sans-serif;
    position: absolute;
    right: 330px;
    top: 40%;
}

#roomAmenitiesAndInclusion{
    width: 100%;
    position: relative;
}

#roomAmenitiesAndInclusion{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 20px;
}

#roomAmenitiesAndInclusion #roomAmenitiesColumn1{
    float: left;
    width: 350px;
    margin-right: 50px;
}

#amenitiesText #roomInclusionColumn2{
    float: right;
    width: 350px;
}

/* amenities (hotel room) */
#amenitiesText{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 140px;
}

#amenitiesText #amenitiesColumn1{
    float: left;
    width: 350px;
}

#amenitiesText #amenitiesColumn2{
    float: right;
    width: 350px;
}
