/* start */
*{
    font-family: 'Questrial';
}
body{
    background-color: rgb(218, 218, 218);
    padding: 0;
    margin: 0;
}

.hotelRooms{
    display:none;
}
.imgSection{
    max-width: 1980px;
    height: 700px;
    margin-top: -10px;
}

.roomContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
  }
  .room {
      max-width: 461px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
  }
  .room img {
      width: 100%;
      max-height: 350px;
  }
  .titleSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    min-width: none;
}

.titleSection h5 {
    min-width: 300px;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .titleSection {
    padding: 30px 100px;
  }

  .titleSection h3 {
    min-width: unset;
    max-width: 500px;
  }
}
.taglineSection{
    margin-top: 3%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.lineContainer{
    margin-top: 3%;
  }
  .lines{
    width: 100%;
    height: 45px;
    position: relative;
  
  }
  .lines::after, .lines::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    border:2px solid black;
    width: 45%;
    top: 20%;
  }
  .lines:after{
    left:0;
  }
  .lines:before{
    right: 0;
  }
  
  .circles{
    height: 40px;
    width: 40px;
    border:2px solid black;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
.bookButton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.service{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
  
}
.service p{
    margin:10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 200px;
    max-width: 200px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}
#pBookText{
   text-align: center;
   word-wrap: break-word;
   max-width: 700px;
}
.row img{
    width: 100%;
    height: 258px; 
}
  /*end*/
  
li{
    font-family: "Questrial", sans-serif;
}

#containerHeader{
    background-color: black;
}

#headerReservation{
    font-family: "Questrial", sans-serif;
    color: whitesmoke;
    background-color: black;
    padding-bottom: 10px;
    padding-left: 300px;
}

header{
    background-color: black;
    padding: 15px;
    text-align: center;
    
}

header li{
    display: inline;
    padding-left: 40px;
}

header li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    transition: .4s ease;
}

header li a:hover{
    color: lightblue;

}

header ul #btnLogIn a{
    color: rgb(255, 255, 255);
    background-color: rgb(104, 0, 0);
    padding: 10px;
    float: right;
    position: relative;
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    top: -10px;
    right: 25px;
}

header ul #scytexLogo a{
    float: left;
}

#firstPhoto{
    width: 100%;
    height: 600px;
    margin-top: -22px;
}

#containerTextFirst{
    border-color: black;
    color: white;
}

#textMessageMainPage{
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
}

#textSedaNuvali{
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin-top: 40px;
}

#textDescriptionSeda{
    text-align: center;
    font-family: sans-serif;
    width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

#secondPhoto{
    width: 100%;
}

#thirdPhoto{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

#containerPromotionFamilySuite{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 260%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
}

#bookNowText{
    width: 200px;
    text-align: center;
    color: rgb(255, 115, 64);
    font-family: "Questrial", sans-serif;
}

#textFamilySuite{
    font-family: sans-serif;
    text-align: center;
    margin-top: 40px;
}

#btnBookNow{
    position: absolute;
    top: 300%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

#headerNoteText{
    margin-left: -40px;
    font-family: "Questrial", sans-serif;
}

#notesTextContainer{
    margin-left: 400px;
    width: 800px;
    font-size: 20px;
}

#premierRoomText{
    text-align: center;
    font-family: "Questrial", sans-serif;
}

#fourthPhoto{
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
}


#containerPromotionPremierRoom{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 400%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
}

#btnBookNow2{
    position: absolute;
    top: 460%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

#notesTextContainerPremierRoom{
    margin-left: 400px;
    width: 800px;
    font-size: 20px;
}

#executiveDeluxeText{
    text-align: center;
    font-family: "Questrial", sans-serif;
}

#fifthPhoto{
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: center;
}

#notesTextContainerExecutiveDeluxe{
    margin-left: 400px;
    width: 800px;
    font-size: 20px;
    margin-bottom: 50px;
}

#containerPromotionExecutiveDeluxe{
    background-color: rgb(255, 223, 223);
    border-radius: 90%;
    position: absolute;
    top: 550%;
    left: 75%;
    font-size: 30px;
    padding: 20px;
    border-color: black;
    width:200px;
}

#btnBookNow3{
    position: absolute;
    top: 607%;
    left: 43%;
    font-size: 20px;
    padding: 20px;
    border-color: white;
    border-width: 4px;
    width:250px;
    color: white;
    background-color: transparent;
}

#amenitiesText{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    
}

#amenitiesText #amenitiesColumn1{
    float: left;
    width: 350px;
}

#amenitiesText #amenitiesColumn2{
    float: right;
    width: 350px;
}
